.body-chat {
  background-color: #abc1d1;
  padding-top: 82px; /*상단 status-bar 제외*/
}
.body-chat .status-bar {
  background-color: #abc1d1;
  z-index: 1;
}
@keyframes fade-in {
  from {
    opacity: 0;
    /* transform: translateY(-10px); */
  }
  to {
    opacity: 1;
    /* transform: none; */
  }
}
.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000vh;
  animation: fade-in 0.5s ease-in-out;
}
.chat__timestamp {
  /* flex: 1; */
  border-radius: 20px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  background-color: #92a4b2;
  margin-bottom: 20px;
}
.body-chat .alt-header {
  position: fixed;
  top: 0px;
  background-color: #abc1d1;
}
@keyframes show-left {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: none;
  }
}
.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  animation: show-left 0.5s ease-in-out;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;
}
.message-row__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message__sender {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 8px;
}
.message__bubble {
  background-color: white;
  padding: 8px 10px;
  border-radius: 12px;
  margin-right: 5px;
  border-top-left-radius: 0px;
  font-weight: 600;
}
.message__text {
  display: flex;
  align-items: flex-end;
}
.message__time {
  font-size: 12px;
  opacity: 0.8;
}

@keyframes show-right {
  from {
    transform: translateX(10px);
  }
  to {
    transform: none;
  }
}
.message-row--own {
  justify-content: flex-end;
  animation:show-right 0.5s ease-in-out;
}
.message-row--own .message__text {
  flex-direction: row-reverse;
}
.message-row--own .message__bubble {
  border-top-right-radius: 0px;
  border-top-left-radius: 12px;
  background-color: var(--yellow);
  margin-left: 5px;
  margin-right: 0px;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  height: 50px;
  align-items: center;
  background-color: white;
  color: var(--gray-light);
  padding: 0px 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply__column {
  display: flex;
  align-items: center;
}
.reply button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--yellow);
  border: none;
  margin-left: 10px;
  margin-right: 1px;
}
.reply__column:last-child {
  background-color: #f8f8f8;
  border-radius: 30px;
  margin: 5px;
  flex: 1;
  border: 1.3px solid #ebebec;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child input {
  flex: 1;
  border: none;
  background-color: transparent;
  margin-left: 10px;
}
.reply .reply__column:first-child,
.reply .fa-grin,
.reply button{
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-grin,
.reply:focus-within button{
  opacity: 0;
}

.reply:focus-within{
  transform: translateY(80px);
}
.reply:focus-within .reply__column:last-child{
  width: 95vw;
  transform: translateX(-8%) translateY(-80px);
}
.reply:focus-within input{
  width: 95vw;
}