.find-icons {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding-bottom: 25px;
}
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 10px;
}
.find-icons__icon i {
  margin-bottom: 15px;
}

.badge-white {
  background-color: white;
  color: var(--black);
  border: 2px solid var(--black);
  font-size: 16px;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.recommended-friends {
  border-top: var(--horizontal-border);
  color: var(--gray);
  padding-top: 15px;
  font-weight: 600;
}
.recommended-friends span {
  margin: 100px 0;
  display: block;
  text-align: center;
  font-size: 18px;
}
.open-chat__header {
  border-top: var(--horizontal-border);
  color: var(--gray);
  padding-top: 15px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.open-chat__header span {
  color: var(--gray-light);
}
