.settings-list {
  display: flex;
  flex-direction: column;
}
.settings-setting {
  padding: 20px 0px;
  font-size: 20px;
}
.settings-setting i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}
