.screen__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-padding);
}
.header__title {
  font-size: 30px;
  font-weight: 700;
}
.header__icons {
  display: flex;
}
.header__btn {
  margin-left: 5px;
  position: relative;
}

.header__a {
  display: block;
  padding: 10px 10px;
}
.header__notification{
  position: absolute;
  top: 5%;
  left:calc(50% + 10px);
}